.product_image{
    width: 100px;
    height: 100px;
}
.products {
    width: 350px;
    height: 300px;
    margin: 10px;
    background: #e0f5d0;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}
.menu {
    border: 1px solid red;
    display: inline-block;
    background: green;
    padding: 5px;
}
.remove {
    float: right;
}
.color-black {
    text-decoration: none;
    color: black;
}